body{

        background-image: url(https://th.bing.com/th/id/R.e95e57560b2ae4fef387aa1c9d6ad04a?rik=prHbcVn7OMVm%2bQ&riu=http%3a%2f%2fs1.picswalls.com%2fwallpapers%2f2017%2f12%2f10%2fbest-4k-wallpapers_11063030_312.jpg&ehk=koeZlH8kmWj5a0BQNBqEFhYUDbZOM9e5Gdm%2fTRflJ8Q%3d&risl=&pid=ImgRaw&r=0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
}

html{
    margin: 0%;
    padding: 0%;
    height: 100%;
}

h1{
    text-align: center;
    font-size: 35px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.conteudo{

    margin-bottom: 200px;
}

.caixa-texto{

    align-items: flex-end;
}