body, html{

    height: 100%;
    margin: 0;
    padding: 0;


    background-image: url(src/wallpaperforchat1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;



}

header{

text-align: center;
font-size: 70px;
text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

.container{

display: flex;

}

input[type="text"]  {

width: 100%;
height: auto;
padding: 10px;
min-height: 40px;  /* Altura mínima da caixa de texto */
max-height: 120px;
box-sizing: border-box;
border: 1px solid transparent;
border-radius: 20px;
border-color: black;
overflow: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
margin-top: 400px;
background-color: transparent;
color: white;

}

.input-container{

    display: flex;  
    flex-direction: column-reverse;
    margin-left: 20px;
    align-items: flex-start;

}

input[type="text"]::placeholder{

    color: white;

}

/*------------------------------------*/

.login-container button{

    border-radius: 10px;
    cursor: pointer;

}


/*--------------Footer----------------*/

footer{

    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    
    }