body, html{

    height: 100%;
    margin: 0;
    padding: 0;

    background-image: url(src/wallpaperforchat1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;

}

/*----------------Header--------------------*/

header{

    display: flex;
    justify-content: center;
    align-items: center;

}

header h1{

    text-align: center;
    font-size: 70px;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

/*----------------Body--------------------*/

.input-container{

    display: flex;  
    align-items: center;
    width: 100%;
    position: relative;

}

textarea{

width: 100%;
border: 1px solid transparent;
border-radius: 20px;
border-color: black;
overflow: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
background-color: transparent;
color: white;
resize: none;
box-sizing: border-box;
max-height: 200px;
display: flex;
text-align: start;
overflow-y: auto;
padding: 5px;

}

textarea::placeholder{

    color: white;

}

/*------------------------------------*/

.login-container{

    margin-top: 400px;

}

.login-container button{

    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;

}


/*--------------Footer----------------*/

footer{

    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;


    }

