body{

        background-image: url(https://th.bing.com/th/id/R.e95e57560b2ae4fef387aa1c9d6ad04a?rik=prHbcVn7OMVm%2bQ&riu=http%3a%2f%2fs1.picswalls.com%2fwallpapers%2f2017%2f12%2f10%2fbest-4k-wallpapers_11063030_312.jpg&ehk=koeZlH8kmWj5a0BQNBqEFhYUDbZOM9e5Gdm%2fTRflJ8Q%3d&risl=&pid=ImgRaw&r=0);
        color: white;
        background-size: 600px;
        background-repeat: no-repeat;

}

h1{
    text-align: center;
    font-size: 35px;
}