body{

    color: white;
    text-align: center;
    background-image: url(https://th.bing.com/th/id/R.d56dc76822470eb35990d34852c8dbc5?rik=Tjye5uHZXs4wDA&riu=http%3a%2f%2fst.gde-fon.com%2fwallpapers_original%2f80407_tekstury_oboi_sinij_seryj_fon_kartinki_1920x1200_www.Gde-Fon.com.jpg&ehk=HtlDuUgvQd3eqINmiJqjI1dEhI3DUN0gDDrdPFEl804%3d&risl=&pid=ImgRaw&r=0);
    height: auto;
    width: auto;
    padding: auto;

}

header{

    font-size: 40px;
    font-family: cursive;
    color: white;
}

.login-container{

 padding: 170px;
 margin-bottom: 10px;
 text-align: center;
 
}

.login-container form{

    text-align: left;
    display: inline-block;
}

input[type="submit"] {

    margin-top: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {

    background-color: gray;

}

h2{

    text-align: center;
}