body{
    
    background-image: url(https://th.bing.com/th/id/R.a0d916fef24e083b20b760a5180bd712?rik=HvE8Q05F1nfNQw&riu=http%3a%2f%2fwww.parme.com.br%2fimages%2fbanners%2fmega-banner_parme-%2bcultura_bg.jpg&ehk=IrQKmfgYkSVjE3xQeE2rzn6bVkm88qSF7tzktlKqH10%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Opcional, para melhorar a aparência ao rolar */
    color: white;
    min-height: 100vh; /* Garante que o body tenha pelo menos a altura da janela de visualização */
    margin: 0;
    padding: 0;

}

header{

    font-family: cursive;
    font-size: 50px;
    text-align: center;
    padding: 100px 0;
}

.login-container{
    text-align: center;
    margin-top: 70px;
}

.login-container button{

    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 50px;
    border-bottom: 50px;
    border-radius: 8px;
}

button[type="submit"]:hover{

    background-color: gray;
}