body{
    
    background-image: url(https://images2.alphacoders.com/719/thumb-1920-719872.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Opcional, para melhorar a aparência ao rolar */
    color: white;
    min-height: 100vh; /* Garante que o body tenha pelo menos a altura da janela de visualização */
    margin: 0;
    padding: 0;

}

header{

    font-family: cursive;
    font-size: 50px;
    text-align: center;
    padding: 100px 0;
}

.login-container{
    text-align: center;
    margin-top: 70px;
}

.login-container button{

    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 50px;
    border-bottom: 50px;
    border-radius: 8px;
}

button[type="submit"]:hover{

    background-color: gray;
}