img{

    height: 100vh;
    width: 100%;
}

html{

margin: 0;
padding: 0%;
height: 100%;

}

header{

text-align: center;
font-size: 70px;

}

.container{

display: flex;

}

button{

    cursor: pointer;
    margin-top: 10px;
}

input[type="text"]  {

width: 100%;
height: auto;
padding: 10px;
min-height: 40px;  /* Altura mínima da caixa de texto */
max-height: 120px;
box-sizing: border-box;
border: 1px solid transparent;
border-radius: 20px;
overflow: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
margin-top: 400px;
background-color: transparent;
color: white;


}

.input-container{

    display: flex;  
    flex-direction: column-reverse;
    margin-left: 20px;
    align-items: flex-start;

}

footer{

text-align: center;
padding: 1px;

}

input[type="text"]::placeholder{

    color: white;

}

