body{
    background-image: url(https://a-static.besthdwallpaper.com/por-do-sol-na-praia-do-mar-papel-de-parede-3750x3000-2548_34.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 100vh;
    width: 100%;

}

html{

margin: 0;
padding: 0%;
height: 100%;
}

header{

text-align: center;
font-size: 70px;
text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

.container{

display: flex;
}

button{

    cursor: pointer;
    margin-top: 10px;
}

input[type="text"]  {

width: 100%;
height: auto;
padding: 10px;
min-height: 40px;  /* Altura mínima da caixa de texto */
max-height: 120px;
box-sizing: border-box;
border: 1px solid transparent;
border-radius: 20px;
overflow: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
margin-top: 400px;
background-color: transparent;
color: white;

}

.input-container{

    display: flex;  
    flex-direction: column-reverse;
    margin-left: 20px;
    align-items: flex-start;
}

footer{

text-align: center;
padding: 1px;
text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

input[type="text"]::placeholder{

    color: white;
}
