body{

    background-image: url(https://swall.teahub.io/photos/small/298-2986819_download-picture-of-a-green-forest-landscape-natural.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html{

    margin: 0;
    padding: 0%;
    height: 100%;
}

header{

    color: white;
    font-size: 70px;
    text-align: center;
}

input[type="text"]{

    background-color: transparent;
    color: white;
    border: transparent;
    margin-top: 400px;
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 20px;

}

.input-container{

    display: flex;

}

input[type="text"]::placeholder{

    color: white;

}

button{

    cursor: pointer;
    margin-top: 10px;
}

footer{

    color: white;
    text-align: center;

}